     .carousel-item {
         height: 100vh;
         max-height: 350px;
         background: no-repeat center center scroll;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         margin-top: 2px;
     }

     .page-header {
         position: relative;
     }

     .reviews {
         color: #555;
         font-weight: bold;
         margin: 10px auto 20px;
     }

     .notes {
         color: #999;
         font-size: 12px;
     }

     .media .media-object {
         max-width: 120px;
     }

     .media-body {
         position: relative;
     }

     .media-date {
         position: absolute;
         right: 25px;
         top: 25px;
     }

     .media-date li {
         padding: 0;
     }

     .media-date li:first-child:before {
         content: '';
     }

     .media-date li:before {
         content: '.';
         margin-left: -2px;
         margin-right: 2px;
     }

     .media-comment {
         margin-bottom: 20px;
     }

     .media-replied {
         margin: 0 0 20px 50px;
     }

     .media-replied .media-heading {
         padding-left: 6px;
     }

     .btn-circle {
         font-weight: bold;
         font-size: 12px;
         padding: 6px 15px;
         border-radius: 20px;
     }

     .btn-circle span {
         padding-right: 6px;
     }

     .embed-responsive {
         margin-bottom: 20px;
     }

     /*
*
* ===========================================================
*     HERO SECTION
* ===========================================================
*
*/
     .hero {
         padding: 1.25rem 0px !important;
         margin: 0px !important;
     }

     .cardbox {
         border-radius: 3px;
         margin-bottom: 20px;
         padding: 0px !important;
     }

     /* ------------------------------- */
     /* Cardbox Heading
---------------------------------- */
     .cardbox .cardbox-heading {
         padding: 16px;
         margin: 0;
     }

     .cardbox .btn-flat.btn-flat-icon {
         border-radius: 50%;
         font-size: 24px;
         height: 32px;
         width: 32px;
         padding: 0;
         overflow: hidden;
         color: #fff !important;
         background: #b5b6b6;

         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
     }

     .cardbox .float-right .dropdown-menu {
         position: relative;
         left: 13px !important;
     }

     .cardbox .float-right a:hover {
         background: #f4f4f4 !important;
     }

     .cardbox .float-right a.dropdown-item {
         display: block;
         width: 100%;
         padding: 4px 0px 4px 10px;
         clear: both;
         font-weight: 400;
         font-family: 'Abhaya Libre', serif;
         font-size: 14px !important;
         color: #848484;
         text-align: inherit;
         white-space: nowrap;
         background: 0 0;
         border: 0;
     }

     /* ------------------------------- */
     /* Media Section
---------------------------------- */
     .media {
         display: -ms-flexbox;
         display: flex;
         -ms-flex-align: start;
         align-items: flex-start;
     }

     .d-flex {
         display: -ms-flexbox !important;
         display: flex !important;
     }

     .media .mr-3 {
         margin-right: 1rem !important;
     }

     .media img {
         width: 48px !important;
         height: 48px !important;
         padding: 2px;
         border: 2px solid #f4f4f4;
     }

     .media-body {
         -ms-flex: 1;
         flex: 1;
         /*padding: .4rem !important;*/
     }

     .media-body p {
         /*	*/
         font-weight: 500 !important;
         font-size: 18px;
         color: #000;
     }

     .media-body small span {
         /*	*/
         font-size: 14px;
         color: #828080;
         margin-right: 10px;
     }


     /* ------------------------------- */
     /* Cardbox Item
---------------------------------- */
     .cardbox .cardbox-item {
         position: relative;
         display: block;
     }

     .cardbox .cardbox-item img {}

     .img-responsive {
         display: block;
         max-width: 100%;
         height: auto;
     }

     .fw {
         width: 100% !important;
         height: auto;
     }


     /* ------------------------------- */
     /* Cardbox Base
---------------------------------- */
     .cardbox-base {
         border-bottom: 2px solid #f4f4f4;
     }

     .cardbox-base ul {
         margin: 10px 0px 10px 15px !important;
         padding: 10px !important;
         font-size: 0px;
         display: inline-block;
     }

     .cardbox-base li {
         list-style: none;
         margin: 0px 0px 0px -8px !important;
         padding: 0px 0px 0px 0px !important;
         display: inline-block;
     }

     .cardbox-base li a {
         margin: 0px !important;
         padding: 0px !important;
     }

     .cardbox-base li a i {
         position: relative;
         top: 4px;
         font-size: 16px;
         color: #8d8d8d;
         margin-right: 15px;
     }

     .cardbox-base li a span {

         font-size: 14px;
         color: #8d8d8d;
         margin-left: 20px;
         position: relative;
         top: 5px;
     }

     .cardbox-base li a em {

         font-size: 14px;
         color: #8d8d8d;
         position: relative;
         top: 3px;
     }

     .cardbox-base li a img {
         width: 25px;
         height: 25px;
         margin: 0px !important;
         border: 2px solid #fff;
     }


     /* ------------------------------- */
     /* Cardbox Comments
---------------------------------- */
     .cardbox-comments {
         padding: 10px 40px 20px 40px !important;
         font-size: 0px;
         text-align: center;
         display: inline-block;
         width: 100%;
     }

     .cardbox-comments .comment-avatar img {
         margin-top: 1px;
         margin-right: 10px;
         position: relative;
         display: inline-block;
         text-align: center;
         width: 40px;
         height: 40px;
     }

     .cardbox-comments .comment-body {
         overflow: auto;
     }

     .search {
         position: relative;
         border: 2px solid #f4f4f4;
         width: 89%;
         overflow: hidden;
         border-radius: 50px;
     }

     .search input[type="text"] {
         background-color: #fff;
         line-height: 10px;
         padding: 15px 60px 20px 10px;
         border: none;
         border-radius: 4px;
         width: 100%;
        outline: none;
        box-shadow:none !important;
         font-size: 14px;
         color: #8d8d8d;
         height: inherit;
         font-weight: 700;
     }

     .search button {
         position: absolute;
         right: 0;
         top: 0px;
         border: none;
         background-color: transparent;
         color: #bbbbbb;
         padding: 15px 25px;
         cursor: pointer;

         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
     }

     .search button i {
         font-size: 20px;
         line-height: 30px;
         display: block;
     }


     /* ------------------------------- */
     /* Author
---------------------------------- */
     .author a {

         font-size: 16px;
         color: #00C4CF;
     }

     .author p {

         font-size: 16px;
         color: #8d8d8d;
     }

     .float {
         display: none;
     }

     @media (max-width: 400px) {
         .search {
             float: right;
             margin-top: -45px;
         }
     }

     @media (max-width: 768px) {
         .column {
             height: 200px;
         }
         .search {
             float: right;
             margin-top: 0px;
             width: 80%;
         }

         .trend-topic {
             height: 300px;
         }

         .box-right {
             display: none;
         }

         .float {
             display: inline;
             position: fixed;
             width: 60px;
             height: 60px;
             bottom: 135px;
             right: 15px;
             color: #FFF;
             /* border-radius: 50px; */
             text-align: center;
             font-size: 30px;
             /* box-shadow: 2px 2px 3px #0e6963; */
             z-index: 100;
             background: #1869b90f;
             cursor: cell;
         }

         .my-float {
             margin-top: 16px;
             color: #16afb7;
         }
     }

    .column {
        height: 300px;
    }

.comments {
    margin: 2.5rem auto 0;
    max-width: 60.75rem;
    padding: 0 1.25rem;
}

.comment-wrap {
    padding-left: 15px;
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
}

.photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 3.5rem;
}

.photo .avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-size: contain;
}

.comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.comment-block textarea {
    width: 100%;
    resize: none;
}

.comment-text {
    margin-bottom: 1.25rem;
}

.bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
}

.comment-date {
    float: left;
}

.comment-actions {
    float: right;
}

.comment-actions li {
    display: inline;
    margin: -2px;
    cursor: pointer;
}

.comment-actions li.complain {
    padding-right: 0.75rem;
    border-right: 1px solid #e1e5eb;
}

.comment-actions li.reply {
    padding-left: 0.75rem;
    padding-right: 0.125rem;
}

.comment-actions li:hover {
    color: #0095ff;
}
